.App{
  color: #657786;
  /* padding-top: 60px; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.hero-color{
  color: #41e0fd;
}
.form-control:focus {
  border-color: #41e0fd;
}

.form-btn-next{
  background-color: #087ea4 !important;
  color: white !important;
  border-radius: 999px;
  opacity: .5;
  padding-left: 1em;
  padding-right: 1em;
  font-weight: 600;
  min-height: 36px;
  min-width: 75px;
  line-height: 3rem;
  border: none;
}

.form-btn-next:hover{
  opacity: 1;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
